body
	{
		margin:	0px;
		padding:	0px;
		overflow:	auto;
		background-color: #2A4C68;
		font-family: arial,helvetica,sans-serif;
		color:	#FFF6E5;
		font-size: 14px;
	}
a
	{
		font-style:	normal;
		color:	#FFE1A7;
		text-decoration: none;
	}
a:visited, a:active
	{
		text-decoration: none;
	}
a:hover
	{
		text-decoration: underline;
	}
h1 
	{
	margin: 4px 0 0 0;
	padding: 5px;
	text-align: right;
	background: #9EC1DE;
	color: #2A4C68;
	letter-spacing: 0.5em;
	text-transform: lowercase;
	font: bold 22px sans-serif;
	height: 25px;
	vertical-align: middle;
	white-space: nowrap;
}
#page
	{
		width:	760px;
		background-color: #668BAE;
	}
#header
	{
		background: #9EC1DE;
		color: #2A4C68;
	}
#top_menu
	{
	text-align:	left;			
	height: 		40px;
	/* border-bottom:	5px solid #FFE1A7; */
	}
#bottom_menu
	{
	text-align:	left;			
	height: 		21px;
	border-bottom:	5px solid #FFE1A7;
	}

.menus 
	{
	font-size: 14px; /* small; 12px for msie and Opera */
	color: #FFF6E5;
	background: #37658F;
	}
.menus ul 
	{
	margin: 0;
	list-style: none;
	padding: 0;
	}
.menus li 
	{
	margin: 0;
	display: inline;
	}
.menus a, .menus a:visited, .menus a:hover, .menus a:active
	{
	text-decoration: none;		
	font-weight: normal;
	color: #FFF6E5;
	}
.menus a 
	{
	display: block;
	padding: 2px 8px;
	height: 14px; /* 22px for msie */
	margin: 1px 0px;
	float: left;
	}
.menus a:visited 
	{
	}
.menus a:hover 
	{
	border: 1px solid;
	border-color: #BDD6E9 #2A4C68 #2A4C68 #BDD6E9;
	padding: 1px 7px;
	}
.menus a:active 
	{
	border: 1px solid;
	border-color: #2A4C68 #BDD6E9 #BDD6E9 #2A4C68;
	padding: 2px 6px 0px 8px;
	}
table.calc
	{
	font-size: 12px;
	color:	Black;
	margin: 10px;
	background-color: Silver;
	border: 1px solid;
	border-color: White Gray Gray White;
	padding-bottom: 10px;
	}
td.left
	{
	padding: 8px 5px 0px 10px;
	vertical-align:	bottom;
	}
td.right
	{
		vertical-align:	bottom;
	}
	
.title
	{
	width: 350px;
	text-align: left;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin: 1px;
}
h2.element {
	font-size: 12px;
	text-align: left;
	line-height: 12px;
	font-weight: normal;
	padding: 0px 0px;
	margin: 2px 2px;
	display: inline;
}
.red_text {
	color: #c20404;
}
.amber_text {
	color: #bc8500;
}
.green_text {
	color: #1a8f03;
}
#subnet_bitmap {
	padding: 2px;
	margin-top: 2px;
	border-right: 2px solid #eeeeee;
	border-top:2px solid #9a9a9a;
	border-left: 2px solid #9a9a9a;
	border-bottom:2px solid #eeeeee;
	width: 312px;
	background-color: #f0f0f0;
}
#ip_addr,
#wildcard_mask, #first_address, #last_address,
#subnet_mask, #subnet_bits, #mask_bits, #max_subnets, #max_hosts,
#cidr_mask_bits, #supernet_mask, #max_supernets, #max_addresses,
#cidr_netmask, #cidr_mask_bits, #cidr_max_subnets, 
#oct_range, #hex_addr, #inverted_mask, #subnet_id, #broadcast_addr,
#cidr_network, #net_cidr_notation
{
	width: 145px;
	margin-top: 2px;
}
#class_a, #class_b, #class_c
{
	margin-top: 4px;
	margin-bottom: 6px;
}
#host_range, #cidr_addr_range
{
	margin-top: 2px;
	width: 320px;
}
#ip_oct_1, #ip_oct_2, #ip_oct_3, #ip_oct_4
{
	width: 35px;
}
/* IPv6 stuff */
table.ipv6
	{
	font-size: 12px;
	color:	Black;
	margin: 10px;
	background-color: Silver;
	border: 1px solid;
	border-color: White Gray Gray White;
	padding-bottom: 10px;
}
#ipv6_16_1, #ipv6_16_2, #ipv6_16_3, #ipv6_16_4,
#ipv6_16_5, #ipv6_16_6, #ipv6_16_7, #ipv6_16_8
{
	width: 45px;
}
#Bla-Bla-2, #Bla-Bla-3
{
	width: 145px;
}
/* end IPv6 */
.calc-input
	{
	text-align: center;
	}
.calc-output
	{
	background-color: Silver;
	text-align: center;
	}
	
#calc_text
	{
		margin:	5px;
		float:	right;
		width:	345px;
		text-align: left;

	}
.first_paragraph
	{
	margin: 10px 0px 0px 0px; /* Netscape only */
}
.info_h1 h1
	{
	color: #FFE1A7;
	background-color: #668BAE;
	text-align: left;
	margin: 0 0 0 0;
	padding: 0;
	letter-spacing: 0;
	font: normal 12px;
	text-transform:	none;
	height: 25px;
	vertical-align: middle;
	white-space: nowrap;
}
.amazon
	/* 1910 added */
	{
	float:	right;
	margin:	10px;
/*	position: absolute; top: 75px; left: 670; */
	}

.google
	{
	float:	right;
	margin:	10px;

	}
.google_square
	{
	float:	right;
	margin:	10px;
	width: 300px;
	}

#bottom
	{
	margin: 0px 0px 20px 0px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #FFE1A7;
}
#about
	{
		text-align: left;
		margin: 5px 5px 5px 5px;
	}
.clear
	{
		clear:	both;
	}
.flag_left
	{
	float: left;
	width: 100px;
	text-align: left;
	margin: 9px 0 0 5px;
}
.links
	{
		text-align: left;
		font-size: 11px;
	}
.links ul
	{
	list-style: none;
	}

/* Feedback Form stuff */

#feedback
	{
	margin: 0px 0px 20px 0px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #FFE1A7;
}
.float_left
	{
		float: left;
		text-align: left;
		margin-bottom: 10px;
	}
.float_right
	{
		float: right;
		text-align: left;
		margin-bottom: 10px;
	}
.no_float
	{
		text-align: left;
		margin-bottom: 10px;
	}
.submit
	{
		text-align: center;
	}
.inside_form
	{
	margin: 15px 100px 15px 100px;
	text-align: left;
}

/* #page, #title, #menu,
#calc_border, #calc_text, #bottom, .amazon
	{
		border-left-width: 1px;
		border-left-color: Red;
		border-left-style: solid;
		border-top-width: 1px;
		border-top-color: Red;
		border-top-style: solid;
		border-right-width: 1px;
		border-right-color: Red;
		border-right-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: Red;
		border-bottom-style: solid;
	}
*/